<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link rel="shortcut icon" href="img/unnamed.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="app">


<header  id="head">
    <h1>{{header}}</h1>
    <div id="sign-log">
        <button v-model="log_in" v-on:click="logBtn">{{log_in}}</button>
        <button v-model="sign_up" v-on:click="regBtn">{{sign_up}}</button>
    </div>
    <div hidden id="name">
        <h2>{{name}} {{lastname}}</h2>
    </div>
</header>


<main>
    <div id='form'>
        <textarea v-model="form"  required></textarea>
        <button v-model="form" v-on:click="cleanMessage">{{encoding}}</button>
    </div>

    <div id="mod_menu">
        <div hidden id="user">
            <button v-on:click="exitBtn">{{exit}}</button>
        </div>

        <div hidden class="menu" id="reg">
            <input v-model="name" type="text" name="name" placeholder="Введите Имя">
            <input v-model="lastname" type="text" name="lastname" placeholder="Введите Фамилию">
            <input v-model="login" type="text" name="login" placeholder="Введите логин">
            <input v-model="password" type="password" name="password" placeholder="Введите пароль">
            <button v-on:click="regBtn_menu">{{registration}}</button>
        </div>
        <div hidden class="menu" id="log">
            <input v-model="name" type="text" name="login" placeholder="Введите логин">
            <input v-model="lastname" type="password" name="password" placeholder="Введите пароль">
            <button  v-on:click="logBtn_menu">{{log}}</button>
        </div>

    </div>
</main>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/script.js">
</script>
</body>

</html>